@import "tailwindcss";

/*  */
@theme {
  --color-primary: #0a4d68;
  --color-secondary: #05bfdb;
  --color-light-secondary: #c5fff8;
  --color-background: #ffffff;

  /* Custom Screens */
  --breakpoint-xs: 24rem;
  --breakpoint-xxs: 0rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
